<h3 class="text-2xl font-semibold text-gray-100 mb-4">Recent</h3>
<hr class="border-gray-700 mb-4">

{% for message in room_messages %}
<div class="message-container">
  <div class="message-header">
    <small>
      <a href="{% url 'user-profile' message.user.id %}" class="text-blue-400 hover:underline">@{{message.user}}</a> | {{message.created | timesince}}
    </small>
    <small class="italic">To "{{message.room}}"</small>
  </div>
  
  <p class="message-body">{{message.body}}</p>
  
  {% if request.user == message.user %}
    <a href="{% url 'remove-message' message.id %}" class="remove-message">
      Remove
    </a>
  {% endif %}
  
  <hr class="message-divider">
</div>
{% endfor %}
