{% extends 'main.html' %}
{% block content %}

<h1>Home</h1>

<div>
    <a href="{% url 'add-room' %}">Add Rooms</a>
   

    <div>
        {% for room in rooms %}
        <div>

    <ul>
            <li>
                <span>@{{ room.host.username }}</span>
                <h3>
                    <a href="{% url 'room' room.id %}">{{ room.name }}</a> - {{ room.description }}
                </h3>  
            </li>
        {% empty %}
            <li>No rooms available</li>
        </ul>
    </div>

        {% endfor %}
    </div>

</div>


{% endblock %}
