{% extends 'main.html' %}

{% block content %}
<h1 class="page-title">Home</h1>

<div class="page-grid">
  <div class="page-sidebar">
    {% include 'base/topics_page.html' %}
  </div>
  
  <div class="page-main">
    <h4 class="content-count">{{ r_count }} Contents are available</h4>
    <a href="{% url 'add-room' %}" class="add-room-button">
      Add Rooms
    </a>
    
    <div class="content-box">
      {% include 'base/content_page.html' %}
    </div>
  </div>
  
  <div class="page-sidebar">
    {% include 'base/activities_page.html' %}
  </div>
</div>
{% endblock %}
