{% extends 'main.html' %}

{% block content %}
<h1 class="profile-title">{{ user.username }}</h1>

<div class="profile-container grid grid-cols-12 gap-6 p-8">
    <div class="col-span-3 sidebar bg-gray-800 rounded-lg shadow-lg p-6">
        <h2 class="sidebar-title">Topics</h2>
        {% include 'base/topics_page.html' %}
    </div>
    
    <div class="col-span-6 main-content bg-gray-700 rounded-lg shadow-lg p-6">
        <h4 class="content-count">{{ r_count }} Contents are available</h4>
        <a href="{% url 'add-room' %}" class="add-room-button">
            Add Rooms
        </a>
        <div class="content-box mt-6">
            {% include 'base/content_page.html' %}
        </div>
    </div>
    
    <div class="col-span-3 sidebar bg-gray-800 rounded-lg shadow-lg p-6">
        <h2 class="sidebar-title">Activities</h2>
        {% include 'base/activities_page.html' %}
    </div>
</div>
{% endblock %}
