{% extends 'main.html' %}
{% block content %}
{% if page == 'signin' %}
<div>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
        </div>
        <br>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
        </div>
        <br>
        <div>
            <input type="submit" value="Login">
        </div>
    </form>
    <p>Are you not registered yet ?</p>
    <a href="{% url 'signup' %}">Sign Up</a>
</div>
{% else %}
<div>
    <form method="POST">
        {% csrf_token %}
   
        <div>
            <input type="submit" value="SignUp">
        </div>
    </form>
    <p>Are you already registered user ?</p>
    <a href="{% url 'signin' %}">Sign In</a>
</div>
{% endif %}
{% endblock %}
